<section class="about container-fluid vertical-center d-flex center justify-content-center align-items-center">
	<div class="jumbotron jumbotron-fluid bg-transparent">
		<div class="container">
			<div class="row text-center text-lg-left">
				<div class="col-12 col-sm-6">
					<h3>Nuestras modelos</h3>
					<h1 class="text-dark">VET STYLES</h1>
				</div>
				<div class="col-12 col-sm-6 mt-5">
					<h6>Nuestro salón de belleza fue fundado en 2021, y desde entonces estamos tratando de hacer que nuestros clientes estén más felices y seguros.</h6>
					<p class="text-dark">A continuacion te mostramos nuestros trabajos mas destacados en nuestra galeria de fotos.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="gallery container-fluid">
	<div class="row">
		<a href="{{site.theme.uri}}/img/4.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-12 col-sm-6 col-lg-4 p-0">
			<img src="{{site.theme.uri}}/img/4.jpg" class="img-fluid">
		</a>
		<a href="{{site.theme.uri}}/img/5.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-12 col-sm-6 col-lg-4 p-0">
			<img src="{{site.theme.uri}}/img/5.jpg" class="img-fluid">
		</a>
		<a href="{{site.theme.uri}}/img/6.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-12 col-sm-6 col-lg-4 p-0">
			<img src="{{site.theme.uri}}/img/6.jpg" class="img-fluid">
		</a>
		<a href="{{site.theme.uri}}/img/1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-12 col-sm-6 col-lg-4 p-0">
			<img src="{{site.theme.uri}}/img/1.jpg" class="img-fluid">
		</a>
		<a href="{{site.theme.uri}}/img/2.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-12 col-sm-6 col-lg-4 p-0">
			<img src="{{site.theme.uri}}/img/2.jpg" class="img-fluid">
		</a>
		<a href="{{site.theme.uri}}/img/3.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-12 col-sm-6 col-lg-4 p-0">
			<img src="{{site.theme.uri}}/img/3.jpg" class="img-fluid">
		</a>
	</div>
</section>

